extends layout

block content
  h1= HeaderStr
  table
    thead
      tr
        th Id Contrato
        th Objeto Contrato
        th Data de Celebração de Contrato
        th Preço Contratual
        th Entidade Comunicante
        th NIPC Entidade Comunicante
    tbody
      each contract in contracts
        tr
          td
            a(href='/' + contract._id)= contract._id
          td= contract.objectoContrato
          td= contract.dataCelebracaoContrato
          td= contract.precoContratual
          td= contract.entidade_comunicante
          td
            a(href='/entidades/' + contract.NIPC_entidade_comunicante)= contract.NIPC_entidade_comunicante